# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Engine.opensdf
Engine.sdf
Engine/Debug/Engine.Build.CppClean.log
Engine/Debug/Engine.log
Debug/Engine.ilk
Debug/Engine.pdb
Engine/Debug/cl.command.1.tlog
Engine/Debug/Engine.exe.embed.manifest
Engine/Debug/Engine.exe.embed.manifest.res
Engine/Debug/Engine.exe.intermediate.manifest
Engine/Debug/Engine.lastbuildstate
Engine/Debug/Engine.write.1.tlog
Engine/Debug/Engine_manifest.rc
Engine/Debug/link-cvtres.read.1.tlog
Engine/Debug/link-cvtres.write.1.tlog
Engine/Debug/vc100.pdb
Engine/Debug/vc100.idb
*.tlog
ipch/engine-47a8ca1c/engine-12cbdb42.ipch
ipch/engine-47a8ca1c/engine-12cbdb42.ipch
Engine.suo
ipch/engine-47a8ca1c/engine-12cbdb42.ipch
*.ipch
Engine/Debug/Engine.vcxprojResolveAssemblyReference.cache
ipch/engine-47a8ca1c/engine-12cbdb42.ipch
ipch/engine-47a8ca1c/engine-12cbdb42.ipch
Engine.v12.suo
